APP_ENV=production
DATABASE_URL=
SECRET_KEY=
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_MINUTES=60
FLASK_DEBUG=false
RATELIMIT_STORAGE_URI=memory://

MEDIA_STORAGE_BACKEND=s3
AWS_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_DEFAULT_REGION=auto
AWS_S3_URL_STYLE=virtual

MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
MAIL_SMTP_USERNAME=
MAIL_SMTP_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=GEKRAFS
MAIL_SMTP_USE_TLS=true
MAIL_SMTP_USE_SSL=false